a, .button,button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.btn { 
    color: $white;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    font-family: $in;
    border: 0 !important;
    padding: 14px 30px;
    text-transform: capitalize;
    @include border-radius(0);
    @include transition(all .3s ease);
    background: linear-gradient(90deg, #E33B3C 0%, #2BC6D1 100%);

    @media screen and (max-width: 991px) {
        padding: 10px 20px !important;
    }
    
    &-border {
        color: #091313;  
        padding: 12px 34px;
        background: transparent;
        border: 2px solid !important;
        border-image-slice: 1 !important;
        border-width: 2px !important;
        border-image-source: linear-gradient(90deg, #E33B3C 0%, #2BC6D1 100%) !important;

        &:hover, &:focus {
            background: linear-gradient(90deg, #E33B3C 0%, #2BC6D1 100%) !important;
        }
    }

    &-sm {
        color: $white;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        padding: 8px 18.2px;
        
        @media screen  and (max-width: 575px) {
            font-size: 14px;
            line-height: 24px;
            padding: 6px 15px !important;
        }
    }
    
    &:hover, &:focus {
        box-shadow: none;
        color: $white !important;
        background: linear-gradient(90deg, #2BC6D1 0%, #E33B3C 100%);
    }
}