@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler-Medium.eot');
    src: url('../fonts/Butler-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Butler-Medium.woff2') format('woff2'),
        url('../fonts/Butler-Medium.woff') format('woff'),
        url('../fonts/Butler-Medium.ttf') format('truetype'),
        url('../fonts/Butler-Medium.svg#Butler-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler-Bold.eot');
    src: url('../fonts/Butler-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Butler-Bold.woff2') format('woff2'),
        url('../fonts/Butler-Bold.woff') format('woff'),
        url('../fonts/Butler-Bold.ttf') format('truetype'),
        url('../fonts/Butler-Bold.svg#Butler-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../fonts/ArsenicaTrial-Demibold.eot');
    src: url('../fonts/ArsenicaTrial-Demibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArsenicaTrial-Demibold.woff2') format('woff2'),
        url('../fonts/ArsenicaTrial-Demibold.woff') format('woff'),
        url('../fonts/ArsenicaTrial-Demibold.ttf') format('truetype'),
        url('../fonts/ArsenicaTrial-Demibold.svg#ArsenicaTrial-Demibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../fonts/ArsenicaTrial-Bold.eot');
    src: url('../fonts/ArsenicaTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArsenicaTrial-Bold.woff2') format('woff2'),
        url('../fonts/ArsenicaTrial-Bold.woff') format('woff'),
        url('../fonts/ArsenicaTrial-Bold.ttf') format('truetype'),
        url('../fonts/ArsenicaTrial-Bold.svg#ArsenicaTrial-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica Trial';
    src: url('../fonts/ArsenicaTrial-Regular.eot');
    src: url('../fonts/ArsenicaTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArsenicaTrial-Regular.woff2') format('woff2'),
        url('../fonts/ArsenicaTrial-Regular.woff') format('woff'),
        url('../fonts/ArsenicaTrial-Regular.ttf') format('truetype'),
        url('../fonts/ArsenicaTrial-Regular.svg#ArsenicaTrial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}