.header-transparent{
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;;
    position: absolute;
    background: rgba(0, 0, 0, .5);
}

.header-area{

    .main-menu{

        ul{

            li{
                float: left;

                a{ 
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    padding-left: 25px;
                    text-transform: uppercase;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    .theme-btn{
        padding-left: 30px;

        a { 
            font-size: 18px;
            color: $black;
            line-height: 26px;
            border-radius: 30px;
            padding: 12px 41.17px;
            text-transform: capitalize;
            border: 1px solid $black;

            i{
                color: $white;
            }
        }
    }
}

/** mobile menu **/
.mean-container {

    a.meanmenu-reveal {
        width: 32px;
        height: 28px; 
        line-height: 31px;
        padding: 14px 12px;
        font-size: 29px !important;
        background-color: $primary;

        span {
            margin: 0;
            width: 32px;
            height: 3px;
            display: block;
            background: $white;
            margin-left: auto !important;
            @include border-radius(500px);
            @include transition(all .3s ease);

            &:first-child { width: 12px; }
            &:last-child { width: 20px; }
            
            &:not(:last-child) {
                margin: 0  0 9px; 
            }
        }

        &:hover {

            span {
                width: 32px;
            }
        }
    }

    .mean-nav {
        margin-top: 52px;
    }
}