/** home page **/
.visit-reco {
    background-color: #2C4325;
}

.coffee-heaven {

    @media screen and (max-width: 991px) { 
        padding: 80px 0;
    }
    
    @media screen and (max-width: 767px) { 
        padding: 60px 0;
    }
    
    .row {
        
        &:not(:last-child) {
            margin-bottom: 60px;

            @media screen and (max-width: 991px) { 
                margin-bottom: 50px;
            }
        }
    }

    .style-2 {
        flex-direction: row-reverse;

        .coffee-heaven__content {
            padding-left: 0;
            text-align: right;
            padding-right: 65px;

            @media screen and (max-width: 991px) { 
                padding-right: 30px;
            }
        }
    }

    .coffee-heaven__content {
        
        @media screen and (max-width: 991px) { 
            padding-left: 30px;
        }

        @media screen and (max-width: 767px) { 
            padding: 0;
            margin-top: 30px;
            text-align: center !important;
        }

        .description {

            &.mb-40 {

                @media screen and (max-width: 991px) { 
                    margin-bottom: 30px;
                }
                
                @media screen and (max-width: 767px) { 
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.about-us {

    @media screen and (max-width: 991px) { 
        padding-bottom: 80px;
    }
    
    @media screen and (max-width: 767px) { 
        padding-bottom: 60px;
    }

    &__content {

        @media screen and (max-width: 991px) { 
            margin-bottom: 50px;
        }
    }

    &__media {
        margin-bottom: 172px;

        @media screen and (max-width: 991px) { 
            margin-bottom: 77px;
        }

        .image {
            max-width: 438px;

            @media screen and (max-width: 1199px) { 
                max-width: 370px;
            }

            @media screen and (max-width: 890px) { 
                max-width: 290px;
            }

            &.one {
                width: 346px;
                right: -192px;
                bottom: -192px;
                height: 346px;
                position: absolute;
                border: 20px solid #F7F4F0;
                @include border-radius(500px);

                @media screen and (max-width: 1199px) { 
                    width: 280px;
                    height: 280px;
                }

                @media screen and (max-width: 991px) { 
                    width: 220px;
                    right: -96px;
                    height: 220px;
                    bottom: -96px;
                }

                -moz-animation: rotating 6s linear infinite;
                -ms-animation: rotating 6s linear infinite;
                -o-animation: rotating 6s linear infinite;
                animation: rotating 6s linear infinite;
            }
        }
    }

    &__experience {
        width: 288px;
        height: 288px;
        border: 1px solid #CCCCCC;
        @include border-radius(500px);

        @media screen and (max-width: 1199px) { 
            width: 210px;
            height: 210px;
        }

        @media screen and (max-width: 991px) { 
            width: 143px;
            height: 143px;
        }

        .number {
            color: $primary;
            font-size: 105px;
            line-height: 77px;

            @media screen and (max-width: 1199px) { 
                font-size: 72px;
                line-height: 50px;
            }

            @media screen and (max-width: 991px) { 
                font-size: 40px;
                line-height: 30px;
            }
        }

        .text {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.banner {

    @media screen and (max-width: 991px) { 
        padding-bottom: 80px;
    }
    
    @media screen and (max-width: 767px) { 
        padding-bottom: 60px;
    }

    .container {
        z-index: 1;
        position: relative;
    }

    .coffe {
        left: 50%;
        top: 207px;
        z-index: -1;
        font-size: 359px;
        position: absolute;
        line-height: 431px;
        color: rgba(0, 0, 0, 0.05);
        @include transform(translate(-50%, 0));
        
        @media screen  and (max-width: 1199px) {
            font-size: 320px;
            line-height: 391px;
        }

        @media screen  and (max-width: 991px) {
            font-size: 300px;
            line-height: 371px;
        }
    }

    .scrollDown {
        border: 0;
        z-index: 1;
        width: 100px;
        height: 100px;  
        overflow: hidden;
        position: relative;
        background-color: transparent; 

        align-items: center;
        display: inline-flex;
        justify-content: center;

        @media screen  and (max-width: 1199px) { 
            width: 90px;
            height: 90px;
        }
        
        i {
            width: 69.77px;
            display: block;
            height: 69.77px;
            line-height: 69.77px;
            @include border-radius(500px);
            background-color: $dark_black;
            @include transition(all .3s ease);

            @media screen  and (max-width: 1199px) { 
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            
            img {
                max-height: 25px;
            }
        }
        
        span {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            position: absolute;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                @include transition(all .3s ease);
 
                -moz-animation: rotating 6s linear infinite;
                -ms-animation: rotating 6s linear infinite;
                -o-animation: rotating 6s linear infinite;
                animation: rotating 6s linear infinite;

            }
        }
        
        &:hover {
            @include transform(scale(1.1));
            
            i {
                background-color: $primary;
            }
        }
    }

    &__item {
        margin: 159px -34px 0 0;
        
        @media screen  and (max-width: 1199px) { 
            margin: 149px 0 0 0;
        }

        @media screen  and (max-width: 991px) { 
            margin: 139px 0 0 0;
        }

        &.style-1 { 
            margin: 0;
            padding-left: 33px;
            padding-right: 29px; 

            @media screen  and (max-width: 1199px) { 
                padding: 0 20px 0 0;
            }

            .media {
                max-width: 305px;
                margin-bottom: 20px;

                @media screen  and (max-width: 991px) { 
                    margin-bottom: 15px;
                }
            }
        }

        &.style-2 {
            margin: 303px 0 0 -60px;

            @media screen  and (max-width: 1199px) { 
                margin: 193px 0 0 0;
            }
            
            @media screen  and (max-width: 991px) { 
                margin: 293px 0 0 -50px;
            }

            .title {
                margin-bottom: 0;
            }

            .media {
                max-width: 323px;
                margin-bottom: 22px;

                @media screen  and (max-width: 991px) { 
                    margin-bottom: 15px;
                }
            }

            .description {
                margin-bottom: 28px;

                @media screen  and (max-width: 991px) { 
                    margin-bottom: 20px;
                }
            }
        }

        .title {
            margin-bottom: 23px;

            @media screen  and (max-width: 991px) { 
                margin-bottom: 15px;
            }
        }

        .media {
            max-width: 407px;
            margin-bottom: 20px;

            @media screen  and (max-width: 991px) { 
                margin-bottom: 15px;
            }
        }

        .description {
            margin-bottom: 30px;

            @media screen  and (max-width: 991px) { 
                margin-bottom: 20px;
            }
        }
    }

    &__bottom {
        gap: 20px 40px;
        margin-top: -50px;
        max-width: 787.49px;
        

        @media screen  and (max-width: 1199px) { 
            max-width: 765px;
        }

        @media screen  and (max-width: 991px) { 
            margin-top: -30px;
        }

        .btn {
            padding-left: 25px;
            
            img {
                max-width: 80px;
                padding-right: 43px;

                @media screen and (max-width: 991px) {
                    max-width: 58px;
                    padding-right: 25px;
                }
            }

            &:hover, &:focus {

                &:after {
                    left: 19px;

                    @media screen and (max-width: 991px) {
                        left: 22px;
                    }
                }
            }
        }
    }
}

.contact {

    @media screen and (max-width: 991px) { 
        padding-bottom: 80px;
    }
    
    @media screen and (max-width: 767px) { 
        padding-bottom: 60px;
    }

    &__content {
        
        @media screen and (max-width: 991px) { 
            padding-left: 0;
        }

        .title {

            @media screen and (max-width: 991px) { 
                margin-bottom: 5px;
            }
        }

        .description {
            
            @media screen and (max-width: 991px) { 
                margin-bottom: 20px;
            }
        }
    }

    &__form {

        .form-group {
            margin-bottom: 14px;
            
            display: flex;
            flex-direction: column;

            &:last-child {
                margin-bottom: 0;
            }

            label {
                font-size: 12px;
                color: #6D6E72;
                line-height: 18px;
                margin-bottom: 4px;
            }

            textarea {
                resize: none;
                height: 122px;
            }

        }
        
        .btn {
            width: 100%;
            padding: 11px;
            color: $white;
            font-size: 18px;
            line-height: 22px;
            text-decoration: none;
            background-color: $primary;
            
            display: flex;
            justify-content: center;
            
            &:after {
                content: inherit;
            }

            img {
                padding: 0;
                margin-left: 6px;
            }

            &:hover {
                color: $black;
            }
        }
    }

    &__map {
        margin-right: -10px;

        .location {
            left: 0;
            gap: 10px;
            bottom: 0;
            width: 232px;
            position: absolute;
            background-color: #2C4325;
            padding: 25px 11px 14px 23px;

            .text-left {
                max-width: 159px;

                .description {
                    color: #C8C8C8;
                }
            }

            .btn {
                padding: 5.5px 0px 5.5px 20px;

                &:after {
                    width: 30px;
                    height: 30px;
                }

                img {
                    padding: 0;
                    max-width: 25px;
                    filter:  brightness(0) invert(1);
                }

                &:hover, &:focus {
                    
                    &:after {
                        left: 17px;
                    }
                }
            }
        }
    }
}

#map {
    width: 100%;
    height: 646px;

    @media screen and (max-width: 1199px) { 
        height: 620px;
    }

    @media screen and (max-width: 991px) { 
        height: 550px;
    }

    .gmnoprint {
        display: none;
    }
}

.our-menu {
    z-index: 1;
    position: relative;

    @media screen and (max-width: 991px) { 
        padding: 80px 0;
    }
    
    @media screen and (max-width: 767px) { 
        padding: 60px 0;
    }

    &:before {
        top: 0;
        width: 100%;
        z-index: -1;
        content: "";
        height: 697px;
        position: absolute;
        background-image: url('../images/home-page/overly.png'); 

        @media screen and (max-width: 991px) { 
            height: 465px;
        }
    }

    .bg-image {
        top: 0;
        z-index: 1;
        z-index: -1;
        right: -267px;
        width: 1014px;
        height: 697px;
        position: absolute;
        mix-blend-mode: multiply;
        background-repeat: no-repeat;

        @media screen and (max-width: 991px) { 
            height: 465px;
        }
    }

    .grid {
        margin-bottom: -40px;

        &-item {
            margin-bottom: 40px;
    
            a {
                display: block;
                
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    &__content {

        @media screen and (max-width: 991px) { 
            margin-bottom: 60px;
        }

        .title {

            @media screen and (max-width: 991px) { 
                margin-bottom: 35px;
            }
        }

        .button-group {
            gap: 30px 60px;

            @media screen and (max-width: 991px) { 
                gap: 20px 40px;
            }
            
            button {
                border: 0;
                padding: 0;
                color: #A6A6A6;
                font-size: 24px;
                font-weight: 500;
                line-height: 29px;
                background: transparent;
                text-transform: capitalize;

                @media screen and (max-width: 767px) { 
                    font-size: 20px;
                    line-height: 25px;
                }

                &:hover, &.active {
                    color: #F7F4F0;
                    text-decoration: underline;
                }
            }
        }
    }
}