/*** COLOR */
$white:#FFF;
$black:#000; 
$dark_black:#646464; 
$primary:#2E334E; 

/*** FONT SIZE */
$in: 'Inter', sans-serif;;

/* Custom Class */
.color-white { color: #fff !important; }
.color-black { color: #000 !important; }
.fw-500 { font-weight: 500 !important; }
