// FONT SIZE
$pop: 'Poppins', sans-serif;
$but: 'Butler', sans-serif;
$arse: 'Arsenica Trial', sans-serif;

// COLOR
$white:#FFF;
$black:#000; 
$primary:#D1793E;
$secondary:#2C4325; 
$dark_white: #888888;
$dark_black: #333333;
$gray_black: #555555;

$headingFontFamily: 22PX;
$headingFontSize : 40px;